.reset {
    cursor: pointer;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: 2px solid red;
    justify-content: center;
}

.start {
    cursor: pointer;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: 2px solid blue;
    justify-content: center;
}

body {
    align-items: center;
    justify-content: space-between;
    margin: 280px;
    min-width: 290px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
}

.return {
    border: 2px solid black;
    background-color: white;
    width: auto;
    height: auto;
    color: darkblue;
}